/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

/* Search Bar */
.search-bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

/* Product Grid */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* Product Card */
.product-grid div {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: box-shadow 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    overflow: hidden; 
}

.product-grid div:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.product-grid img {
    max-height: 200px;
    width: auto;
    margin-bottom: 10px;
    object-fit: contain;
    display: block;
}

.product-grid h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.product-grid p {
    font-size: 1rem;
    color: #666;
    font-weight: 500;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal.hidden {
    display: none;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    text-align: center;
}

.modal-content h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.modal-content p {
    font-size: 1rem;
    margin-bottom: 15px;
    color: #555;
}

.quantity {
    font-size: 1rem;
    color: #222121;
    font-weight: 500;
    padding:1rem;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn {
    background-color: #4981fa;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.close-btn:hover {
    background-color: #043fbe;
}

/* For mobile devices */
@media (max-width: 480px) {
    .title {
        font-size: 1.8rem; 
    }

    .search-bar {
        font-size: 0.85rem;
        padding: 6px;
    }

    .product-grid h2 {
        font-size: 0.9rem; 
    }

    .product-grid p {
        font-size: 0.8rem; 
    }

    .close-btn {
        padding: 6px 10px; 
    }
}